# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# VS Code
.vscode/

# SQLite DB
*.db

# Environment variables
.env

# Mac/Windows system files
.DS_Store
Thumbs.db
